@model IEnumerable<WebApplication1.Models.SACH>

@{
    var list = Model.ToList();
}

<h2 class="text-center">SÁCH BÁN NHIỀU</h2>
<div class="row">
    @* Left Column: Items 1, 3, 5 (Index 0, 2, 4) *@
    <div class="col-lg-6 col-md-6">
        <div class="media-object-default">
            @for (int i = 0; i < list.Count; i++)
            {
                if (i % 2 == 0) // Even index for left column
                {
                    <div class="media" style="min-height: 160px;">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object imgsachbannhieu"
                                     src="@Url.Content("~/Images/" + list[i].AnhBia)"
                                     alt="@list[i].TenSach"
                                     style="width: 100px; height: 150px; object-fit: cover; display: block;">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@list[i].TenSach</h4>
                            @(list[i].MoTa.Length > 150 ? list[i].MoTa.Substring(0, 150) + "..." : list[i].MoTa)
                            <p><strong>Giá: @String.Format("{0:0,0}", list[i].GiaBan) VNĐ</strong></p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    @* Right Column: Items 2, 4, 6 (Index 1, 3, 5) *@
    <div class="col-lg-6 col-md-6">
        <div class="media-object-default">
            @for (int i = 0; i < list.Count; i++)
            {
                if (i % 2 != 0) // Odd index for right column
                {
                    <div class="media" style="min-height: 160px;">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object imgsachbannhieu"
                                     src="@Url.Content("~/Images/" + list[i].AnhBia)"
                                     alt="@list[i].TenSach"
                                     style="width: 100px; height: 150px; object-fit: cover; display: block;">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@list[i].TenSach</h4>
                            @(list[i].MoTa.Length > 150 ? list[i].MoTa.Substring(0, 150) + "..." : list[i].MoTa)
                            <p><strong>Giá: @String.Format("{0:0,0}", list[i].GiaBan) VNĐ</strong></p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<hr>